Repository usuyuki/rawp, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻frontend, ⚙kernel, ✈ci, 🏠localInfra

feat フロントエンド整備
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/favicon.ico
  frontend/public/next.svg
  frontend/public/thirteen.svg
  frontend/public/vercel.svg
  frontend/src/components/uiGroup/RawpConcept.tsx
  frontend/src/components/uiParts/DescribeH2.tsx
  frontend/src/components/uiParts/DescribeH3.tsx
  frontend/src/components/uiParts/DescribeH4.tsx
  frontend/src/layouts/Footer.tsx
  frontend/src/layouts/Header.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/api/hello.ts
  frontend/src/pages/index.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: 💻frontend

feat rustまわりの整備
  kernel/.editorconfig
  kernel/.gitignore
  kernel/.vscode/launch.json
  kernel/.vscode/settings.json
  kernel/Cargo.lock
  kernel/Cargo.toml
  kernel/README.md
  kernel/src/main.rs
Labels: ⚙kernel

feat rust動作
  kernel/Cargo.toml
Labels: ⚙kernel

feat dockerまわり
  .devcontainer/devcontainer.json
  .github/workflows/frontendBuilder.yml
  .vscode/extensions.json
  .vscode/settings.json
  REF.md
  docker-compose.yml
  frontend/package.json
Labels: 💻frontend, 🏠localInfra

wip エラーなく動くように修正
  frontend/package.json
  frontend/src/components/uiGroup/ProgressCard.tsx
  frontend/src/components/uiGroup/RawpConcept.tsx
  frontend/src/components/uiGroup/ResultCard.tsx
  frontend/src/components/uiGroup/SettingCard.tsx
  frontend/src/components/uiParts/DescribeH2.tsx
  frontend/src/components/uiParts/DescribeH3.tsx
  frontend/src/components/uiParts/DescribeH4.tsx
  frontend/src/components/uiParts/Heading/DescribeH2.tsx
  frontend/src/components/uiParts/Heading/DescribeH3.tsx
  frontend/src/components/uiParts/Heading/DescribeH4.tsx
  frontend/src/pages/description.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/globals.css
  frontend/yarn.lock
Labels: 💻frontend

feat フォント対応
  frontend/public/fonts/DotGothic16-Regular.ttf
  frontend/public/fonts/DotGothic16-Regular.ttfZone.Identifier
  frontend/public/next.svg
  frontend/public/thirteen.svg
  frontend/public/vercel.svg
  frontend/src/styles/globals.css
Labels: none

wip material-iconの動作チェック
  frontend/src/pages/index.tsx
Labels: none

feat カラー設定
  .gitignore
  frontend/.gitignore
  frontend/public/fonts/DotGothic16-Regular.ttfZone.Identifier
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Labels: 💻frontend

fix yarn buildができるように諸々を修正
  frontend/.eslintrc.json
  frontend/src/components/uiGroup/ProgressCard.tsx
  frontend/src/components/uiGroup/RawpConcept.tsx
  frontend/src/components/uiParts/Heading/DescribeH2.tsx
  frontend/src/layouts/Layout.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/api/hello.ts
  frontend/src/pages/description.tsx
  frontend/src/pages/index.tsx
Labels: 💻frontend

.github/labeler.yml:

# 大枠
💻frontend:
  - frontend/*
⚙kernel:
  - kernel/*

# インフラ
✈ci:
  - .github/*
  - backend/env.ci
🏠localInfra:
  - infra/dev/*
  - docker-compose.yml
